fava==1.30
tariochbctools==1.1.0
smart-importer @ git+https://github.com/beancount/smart_importer@feature/beancount_3
beancount-reds-plugins==0.3.0
fava-dashboards @ git+https://github.com/andreasgerstmayr/fava-dashboards.git@main
beanprice==1.2.1
