fava==1.30.9
tariochbctools==1.6.0
smart-importer==1.2
beancount-reds-plugins==0.4.0
fava-dashboards @ git+https://github.com/andreasgerstmayr/fava-dashboards.git@main
beanprice @ git+https://github.com/beancount/beanprice.git@master
